create_time = "2023-05-17 18:21:17";
internal_id = "E7FCF9FFEB9B9999EDE9";
resolution : 
{
  image_size : 
  {
    iIndex = 0;
    acDescription = "1280X1024 Max";
    uBinSumMode = 0;
    uBinAverageMode = 0;
    uSkipMode = 0;
    uResampleMask = 0;
    iHOffsetFOV = 0;
    iVOffsetFOV = 0;
    iWidthFOV = 1280;
    iHeightFOV = 1024;
    iWidth = 1280;
    iHeight = 1024;
    iWidthZoomHd = 0;
    iHeightZoomHd = 0;
    iWidthZoomSw = 0;
    iHeightZoomSw = 0;
  };
  image_size_for_snap : 
  {
    iIndex = 255;
    acDescription = "";
    uBinSumMode = 0;
    uBinAverageMode = 0;
    uSkipMode = 0;
    uResampleMask = 0;
    iHOffsetFOV = 0;
    iVOffsetFOV = 0;
    iWidthFOV = 0;
    iHeightFOV = 0;
    iWidth = 0;
    iHeight = 0;
    iWidthZoomHd = 0;
    iHeightZoomHd = 0;
    iWidthZoomSw = 0;
    iHeightZoomSw = 0;
  };
  transfer_roi_mask = 0;
  transfer_roi_x1 = [ 0, 0, 0, 0 ];
  transfer_roi_y1 = [ 0, 0, 0, 0 ];
  transfer_roi_x2 = [ 0, 0, 0, 0 ];
  transfer_roi_y2 = [ 0, 0, 0, 0 ];
};
exposure : 
{
  anti_flick_freq = 0;
  anti_flick = false;
  show_ae_window = false;
  ae_window_height = 0;
  ae_window_width = 0;
  ae_window_voff = 0;
  ae_window_hoff = 0;
  analog_gain = 64;
  exp_time = 2501.0908203125;
  ae_target = 120;
  ae_enable = false;
  user_exposure_time = 2500.0;
  user_ae_min_exposure_time = 0.0;
  user_ae_max_exposure_time = 10000000.0;
  user_ae_min_analog_gain = 64;
  user_ae_max_analog_gain = 256;
  ae_threshold = 10;
};
video_format : 
{
  frame_speed_sel = 2;
  frame_rate = 0;
  frame_splice = 0;
  trans_pack_len_sel = 0;
  media_type_sel = 0;
  auto_reconnect = true;
  hdr_gain_mode = 0;
};
overlay : 
{
  cross_line : 
  {
    show = [ false, false, false, false, false, false, false, false, false ];
    color = [ 15539236, 6458569, 13156327, 0, 0, 0, 0, 0, 0 ];
    pos = [ 640, 512, 426, 341, 853, 682, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ];
  };
};
isp_color : 
{
  auto_wb = false;
  mono = false;
  inverse = false;
  r_gain = 140;
  g_gain = 120;
  b_gain = 100;
  wb_window_hoff = 0;
  wb_window_voff = 0;
  wb_window_width = 1280;
  wb_window_height = 1024;
  show_wb_window = false;
  saturation = 100;
  clr_temp_mode = 1;
  clr_temp_sel = 0;
  user_clr_temp : 
  {
    desc = "";
    matrix = [ 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0 ];
    r = 1.0;
    g = 1.0;
    b = 1.0;
  };
  raw2rgb_algorithm_sw_sel = 2;
};