<?xml version="1.0"?>
<model>
  <name>rm_projectile_17mm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    The Projectile Model(17mm,small fluorescent projectile) for RoboMaster Competition,Projectile 
    is the only acceptable component for robots to attack
  </description>
</model>