<?xml version="1.0"?>
<model>
  <name>rmua19_standard_robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    The Basic Version of Standard Robot for RoboMaster University AI Challenge 2019.
    The raw STEP 3D model is from tutorials of [RoboRTS](https://github.com/RoboMaster/RoboRTS).
  </description>
</model>