/armor_detector:
  ros__parameters:
  # Detector params.
    mode: 1
    color: 1 # red: 1 / blue: 0
    max_delta_t: 50
    max_lost_cnt: 5
    max_armors_cnt: 8
    max_dead_buffer: 10

    hero_danger_zone: 4.0
    armor_type_wh_high_thresh: 3.0
    armor_type_wh_low_thresh: 2.5

    no_crop_thresh: 0.01
    no_crop_ratio: 0.002
    full_crop_ratio: 0.0001
    armor_roi_expand_ratio_width: 1.2
    armor_roi_expand_ratio_height: 1.8
    armor_conf_high_thresh: 0.82

  # Spinning params.
    max_delta_dist: 0.5
    switch_max_dt: 2000.0
    anti_spin_max_r_multiple: 4.5
    anti_spin_judge_low_thresh: 2000.0
    anti_spin_judge_high_thresh: 20000.0
    
    delta_x_3d_high_thresh: 0.18
    delta_x_3d_higher_thresh: 0.25
    delta_x_3d_low_thresh: 0.10
    delta_x_3d_lower_thresh: 0.05
    delta_y_3d_high_thresh: 0.18
    delta_y_3d_higher_thresh: 0.25
    delta_y_3d_low_thresh: 0.10
    delta_y_3d_lower_thresh: 0.05

  # Camera config params.
    camera_param_path: "/config/camera.yaml"

  # Network model path.
    network_path: "/model/best_06_02.xml"
  
  # Data saving.
    save_data: false
    save_path: "/data/infer.txt"
    save_dataset: false
  
  # Debug params.
    use_roi: true
    
    debug: true
    show_img: true
    show_crop_img: false
    show_fps: true
    show_aim_cross: true
    show_all_armors: true
    auto_label: false
    print_latency: false
    sync_transport: false
    print_target_info: false

/armor_processor:        
  ros__parameters:
  # Predict params.
    max_dt: 1000
    max_cost: 10
    window_size: 3
    min_fitting_lens: 5
    max_offset_value: 0.45
    reserve_factor: 500.0 # 储备系数(>=1)

  # Debug params.
    debug: true
    show_img: false
    draw_predict: true
    show_predict: true
    show_aim_cross: true
    show_fps: false
    print_delay: false
    sync_transport: false
    show_marker: true
 
  # Camera params.
    camera_param_path: "/config/camera.yaml"
    
  # Filter params.
    filter_param_path: "/config/filter_param.yaml"
  
  # uniform model
    #----------------------------------Xc------Yc----Zc-----r---theta--omega
    uniform_ekf_process_noise_param: [0.00005, 0.0001, 0.002, 0.0005, 0.002, 0.001]
    #----------------------------------X----Y---Z---theta
    uniform_ekf_measure_noise_param: [5.0, 2.0, 1.0, 1.0]
    
  # Singer model
    # alpha:机动频率(alpha_x/alpha_y/alpha_z) sigma:机动加速度标准差(sigma_x/sigma_y/sigma_z)
    singer_model_process_param: [1.00, 1.00, 1.0, 2.65, 10.45, 2.65]
    # r:观测协方差系数(r1/r2/r3)
    singer_model_measure_param: [1.0, 1.0, 1.0]

    # IMM model.
    #状态转移概率
    trans_prob_matrix: [0.6, 0.3, 0.05, 0.05, #row prob sum = 1
                        0.5, 0.4, 0.05, 0.05,
                        0.1, 0.1, 0.75, 0.05,
                        0.1, 0.1, 0.05, 0.75]
    #模型概率
    model_prob_vector: [0.4, 0.3, 0.15, 0.15] #prob sum = 1
    process_noise: [0.4, 0.4, 0.3, 0.3, 0.2, 0.2]
    measure_noise: [60.0, 60.0, 30.0, 30.0]
