/armor_detector:
  ros__parameters:
  # Detector params.
    armor_type_wh_high_thres: 3.0
    armor_type_wh_low_thres: 2.5
    max_lost_cnt: 5
    max_armors_cnt: 8
    max_v: 8
    max_delta_t: 50
    no_crop_thres: 0.01
    hero_danger_zone: 4
    color: 1 # 0: blue / 1: red
    no_crop_ratio: 0.002
    full_crop_ratio: 0.0001
    armor_roi_expand_ratio_width: 1.2
    armor_roi_expand_ratio_height: 1.8
    armor_conf_high_thres: 0.82
    yaw_angle_offset: -0.5
    pitch_angle_offset: 0.5

  # Spinning params.
    max_cost: 500
    shoot_delay: 200
    bullet_speed: 10.0
    max_dead_buffer: 10
    max_delta_dist: 0.5
    min_fitting_lens: 10
    switch_max_dt: 2000.0
    anti_spin_max_r_multiple: 4.5
    anti_spin_judge_low_thres: 2000.0
    anti_spin_judge_high_thres: 20000.0
    
    delta_x_3d_high_thresh: 0.18
    delta_x_3d_higher_thresh: 0.25
    delta_x_3d_low_thresh: 0.10
    delta_x_3d_lower_thresh: 0.05
    delta_y_3d_high_thresh: 0.18
    delta_y_3d_higher_thresh: 0.25
    delta_y_3d_low_thresh: 0.10
    delta_y_3d_lower_thresh: 0.05

  # Camera config params.
    # camera_name: "00J90630561" 
    camera_name: "KE0200110073" #FIXME:根据相机序列号修改
    camera_type: 0
    camera_param_path: "/config/camera.yaml"

  # Network model path.
    # network_path: "/model/opt-0127-001.xml"
    # network_path: "/model/opt-0527-002.xml"
    # network_path: "/model/opt-1208-001.xml"
    network_path: "/model/yolox-04-21.xml"
  
  # Data saving.
    save_data: false
    save_path: "/data/infer.txt"
    save_dataset: false
  
  # Debug params.
    debug: true
    using_imu: false
    show_img: true
    show_fps: true
    show_aim_cross: true
    show_all_armors: true
    using_roi: true
    detect_red: true
    auto_label: false
    print_letency: false
    sync_transport: false
    print_target_info: false

/armor_processor:
  ros__parameters:
  # Predict params.
    bullet_speed: 10.0
    max_time_delta: 1000
    max_cost: 10
    max_v: 8
    min_fitting_lens: 5
    shoot_delay: 200
    spin_shoot_delay: 100
    window_size: 3
    yaw_angle_offset: -0.5
    pitch_angle_offset: 0.5
    max_offset_value: 0.45
    reserve_factor: 500.0 #储备系数(>=1)
    # rotation_yaw: 0.0
    # rotation_pitch: 0.0
    # rotation_roll: 0.0

  # Debug params.
    debug: true
    using_imu: false
    show_img: false
    draw_predict: false
    show_predict: false
    sync_transport: false
    print_delay: false
    show_aim_cross: false
    show_fps: false

  # Camera params.
    camera_type: 0 #(daheng: 0 / hik: 1 / mvs: 2 / usb: 3)
    # coord_param_name: "00J90630561" 
    coord_param_name: "KE0200110073" #FIXME:根据相机序列号修改
    coord_param_path: "/config/camera.yaml"
    
  # Filter params.
    filter_param_path: "/config/filter_param.yaml"

  # Singer model(--->CS Model).
    # alpha:机动频率(alpha_x/alpha_y/alpha_z) sigma:机动加速度标准差(sigma_x/sigma_y/sigma_z)
    singer_model_process_param: [1.05, 1.05, 1.05, 8.5, 10.65, 8.5]
    # r:观测协方差系数(r1/r2/r3)
    singer_model_measure_param: [1.0, 0.25, 0.25]

  # IMM model.
    #状态转移概率
    trans_prob_matrix: [0.6, 0.3, 0.05, 0.05, #row prob sum = 1
                        0.5, 0.4, 0.05, 0.05,
                        0.1, 0.1, 0.75, 0.05,
                        0.1, 0.1, 0.05, 0.75]
    #模型概率
    model_prob_vector: [0.4, 0.3, 0.15, 0.15] #prob sum = 1
    process_noise: [0.4, 0.4, 0.3, 0.3, 0.2, 0.2]
    measure_noise: [60.0, 60.0, 30.0, 30.0]
