/buff_detector:
  ros__parameters:
  # Detector params.
    max_lost_cnt: 4 
    max_v: 4.0  
    max_delta_t: 100.0
    fan_length: 0.7
    no_crop_thres: 0.002

  # Paths.
    camera_type: 3
    network_path: "src/vehicle_system/buff/buff_detector/model/buff.xml"
    camera_param_path: "src/global_user/config/camera.yaml"
    camera_name: "KE0200110075"
    path_prefix: "src/recorder/dataset/"

  # Debug.
    using_imu: false
    using_roi: false
    detect_red: true
    show_img: false
    show_all_fans: false
    show_fps: true
    print_target_info: false 
    prinf_latency: false
    assist_label: false

/buff_processor:
  ros__parameters:
  # Predict params.
    bullet_speed: 28.0
    max_timespan: 20000.0       
    max_rmse: 0.5
    max_v: 3.0
    max_a: 8.0
    history_deque_len_cos: 25
    history_deque_len_phase: 20
    history_deque_len_uniform: 20
    delay_small: 175.0
    delay_big: 100.0
    window_size: 2

  # Paths.
    camera_name: "KE0200110075"
    pf_path: "src/global_user/config/filter_param.yaml"
    camera_param_path: "src/global_user/config/camera.yaml"

  # Debug.
    using_imu: false
    show_predict: true