<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- https://upload.wikimedia.org/wikipedia/commons/5/52/Wheelbase_and_Track.png -->

    <link name="locate_camera">
        <inertial>
            <mass value="0.054995"/>
            <origin xyz="0.00625 0.0 0.0"/>
            <inertia ixx="5.4086249e-5" ixy="0.0" ixz="0.0" iyy="5.42716280e-5"
                     iyz="0.0" izz="5.5432970e-6"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/drone/camera.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/drone/camera.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="locate_camera_joint" type="fixed">
        <origin xyz="0.45 0 -0.0175" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="locate_camera"/>
    </joint>

</robot>
