<?xml version="1.0" encoding="utf-8"?>

<robot>

    <!-- https://upload.wikimedia.org/wikipedia/commons/5/52/Wheelbase_and_Track.png -->

    <link name="base_link">
        <inertial>
            <mass value="11.933977"/>
            <origin xyz="-0.003402 0.001019 0.029486"/>
            <inertia ixx="8.299e-1" ixy="2.604e-4" ixz="1.088e-3" iyy="0.8643"
                     iyz="2.435e-4" izz="1.453"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/drone/base_link.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/drone/base_link.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>


</robot>
