<?xml version="1.0" encoding="utf-8"?>

<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="load_gimbal" default="true"/>
    <xacro:arg name="load_shooter" default="true"/>
    <xacro:arg name="use_simulation" default="true"/>

    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find robot_description)/urdf/drone/chassis.urdf.xacro"/>
        <xacro:include filename="$(find robot_description)/urdf/drone/camera.urdf.xacro"/>
        <xacro:include filename="$(find robot_description)/urdf/common/imu.urdf.xacro"/>

        <xacro:if value="$(arg load_gimbal)">
            <xacro:include filename="$(find robot_description)/urdf/drone/gimbal.urdf.xacro"/>
            <xacro:include filename="$(find robot_description)/urdf/drone/gimbal.transmission.urdf.xacro"/>
            <xacro:IMU connected_to="pitch" imu_name="gimbal_imu" xyz="-0.05212 0.0 -0.0772" rpy="${pi} 0 ${pi/2}"/>
            <xacro:if value="$(arg load_shooter)">
                <xacro:include filename="$(find robot_description)/urdf/drone/shooter.urdf.xacro"/>
                <xacro:include filename="$(find robot_description)/urdf/drone/shooter.transmission.urdf.xacro"/>
            </xacro:if>
        </xacro:if>
    </xacro:if>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
