<?xml version="1.0"?>
<model>
    <name>rm22_armor_module</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>zhenpeng ge</name>
        <email>zhenpeng.ge@qq.com</email>
    </author>
    <description>RoboMaster2022 Referee System Module: armor module.</description>
</model>