<?xml version="1.0"?>
<model>
    <name>rm21_speed_monitor_module</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>zhenpeng ge</name>
        <email>zhenpeng.ge@qq.com</email>
    </author>
    <description>RoboMaster2021 Referee System Module: speed monitor module.</description>
</model>